body {
    font-family: 'Arial', sans-serif;
    background-color: #232338;
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #54606d;
    color: rgb(247, 213, 213);
    padding: 20px;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
}
nav a {
    color: rgb(74, 196, 165);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}
nav a:hover {
    color: #4a90e2;
}
main {
    padding: 20px;
}
section {
    display: none;
}
section:target {
    display: block;
}
figure {
    text-align: center;
    margin: 20px 0;
}
figcaption {
    font-style: italic;
    color: #777;
    font-size: 0.9rem;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer a {
    color: #4a90e2;
    text-decoration: none;
}
.center {
    text-align: center;
}
li, p:not(footer p) {
    background-color: #444638;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}
a {
    color: #4a90e2;
    text-decoration: none;
}
a:hover {
    color: #1e73be;
    text-decoration: underline;
}
h1, h2, h3, p, li {
    color: #d89595;
}
